
.signUpContainer {
    display: flex;
    align-items: stretch; /* Garante que os itens tenham a mesma altura */
    justify-content: center;
    background: #f9f9f9;
    padding: 30px;
    min-height: calc(100vh - 165px);
  }
  
  .signUpBox {
    background: #fff;
    border-radius: 20px;
    padding: 40px;
    padding-bottom: 10px;
    width: 320px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #f0f0f0;
    text-align: center;
    position: relative;
    margin-right: -30px;
    z-index: 1;
    max-height: min-content;
    padding-bottom: 35px;
  }
  
  .signUpImage {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 765px; /* Mantém a largura configurada */
    height: 100%; /* Mantém a altura configurada */
    object-fit: cover; /* Ajusta o conteúdo da imagem sem distorcer */
  }
  
  .signUpBox h2 {
    margin-bottom: 30px;
    margin-top: 0px;
    color: #333;
    font-size: 2.5rem;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .inputGroup label {
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
  }
  
  .inputGroup input,
  .inputGroup select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
  }
  
  .signUpButton {
    display: block;
    background: #f57c00;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .signUpButton:hover {
    background: #e66a00;
  }
  
  .errorMessage {
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
  }

  .successMessage {
    background-color:   #f0f4c3;
    color: #33691e;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
  }

  .text {
    text-align: left;
    padding: 0.7rem 0;
  }

 